<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689102902761-kf35g7v7j2n2rliqk3agcr5nk8qhto8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689102902761-kf35g7v7j2n2rliqk3agcr5nk8qhto8g</string>
	<key>API_KEY</key>
	<string>AIzaSyDsj5cTeRRUIibHhxRNkNN49gO4dUAtcSU</string>
	<key>GCM_SENDER_ID</key>
	<string>689102902761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sample.documentStorage</string>
	<key>PROJECT_ID</key>
	<string>medical-data-storage-316cf</string>
	<key>STORAGE_BUCKET</key>
	<string>medical-data-storage-316cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689102902761:ios:2362493eaf7a517939e778</string>
</dict>
</plist>